# Virtual env
.venv/
venv/
env/

# Build / install
build/
dist/
*.egg-info/
*.egg

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
